{% macro show_mystery(mysterys) %}
  <b style="font-size: 21px;">{{ mysterys['mys_title'] }}</b>
  <br>
  {{ mysterys['mys_author'] }}
  <br>
  {{ mysterys['mys_description'] }}
  <br>
  <br>
{% endmacro %}


{% macro show_mysterys(mysterys) %}
<div>
 {% for mystery in mysterys %}
 <div>
   {{ show_mystery(mystery) }}
 </div>
 {% endfor %}
</div>
{% endmacro %}




{% macro show_fiction(fictions) %}
  <b style="font-size: 21px;">{{ fictions['fict_title'] }}</b>
  <br>
  {{ fictions['fict_author'] }}
  <br>
  {{ fictions['fict_description'] }}
  <br>
  <br>
{% endmacro %}


{% macro show_fictions(fictions) %}
<div>
 {% for fiction in fictions %}
 <div>
   {{ show_fiction(fiction) }}
 </div>
 {% endfor %}
</div>
{% endmacro %}


{% macro show_romance(romances) %}
  <b style="font-size: 21px;">{{ romances['rom_title'] }}</b>
  <br>
  {{ romances['rom_author'] }}
  <br>
  {{ romances['rom_description'] }}
  <br>
  <br>
{% endmacro %}




{% macro show_romances(romances) %}
<div>
 {% for romance in romances %}
 <div>
   {{ show_romance(romance) }}
 </div>
 {% endfor %}
</div>
{% endmacro %}
