{% macro show_mystery(mysterys) %}
<div class="card adjust-height">
 <div class="card-content">
   <div class="content">
     <h1>
       <!-- <a href="{{ url_for('mysterys', job_id=job['id']) }}">{{ job['title'] }}</a> -->
       <!-- mysterys['mys_title'] -->
       <!-- ${{ mysterys['mys_title'] }}<br>
       ${{ mysterys['mys_author'] }}<br>
       ${{ mysterys['mys_description'] }} -->
     </h1>
   </div>
 </div>
</div>
{% endmacro %}


{% macro show_mysterys(mysterys) %}
<div>
 {% for mystery in mysterys %}
 <div>
   {{ show_mystery(mysterys) }}
 </div>
 {% endfor %}
</div>
{% endmacro %}
