{% extends "layout.html" %}
{% block content %}
<div class="container">
  <h1>The Secrets of Paper and Ink</h1>
  <p>by Lindsay Harrel</p>
  <p>A year after the death of her abusive fiancé, domestic violence counselor
    Sophia Barrett finds returning to work too painful. She escapes to Cornwall,
    England--a place she's learned to love through the words of her favorite
    author--and finds a place to stay with the requirement that she help out in
    the bookstore underneath the room she's renting. Given her love of all
    things literary, it seems like the perfect place to find peace.</p>

  <p><a href="/romance">Back To Romance</a></p>
</div>
<br>
{% endblock %}
