{% extends "layout.html" %}
{% block content %}
<div class="container">
  <h1>Murder At The Palace</h1>
  <p>by Margaret Dumas</p>
  <p>Welcome to the Palace movie theater! Now Showing: Philandering husbands,
    ghostly sidekicks, and a murder or two. When Nora Paige's movie-star
    leaves her for his latest co-star, she flees Hollywood to take refuge
    in San Francisco at the Palace, a historic movie theater that shows the
    classic films she loves. There she finds a band of misfit film buffs who
    care about movies (almost) as much as she does.</p>

  <p><a href="/mysteries">Back To Mysteries</a></p>
</div>
<br>
{% endblock %}
