{% extends "layout.html" %}
{% block content %}
<div class="container">
  <h1>More Than Words</h1>
  <p>by Jill Santopolo</p>
  <p>Nina Gregory has always been a good daughter, a good girlfriend. Raised by
    her father, owner of New York City's glamorous Gregory Hotels, after her
    mother's death, Nina was taught that family, reputation, and legacy are what
    matter most. And her boyfriend Tim, thoughtful, kind, and honest, not to
    mention her best friend since childhood, feels the same. But after Nina's
    father passes away, she learns he may not have practiced what he preached. </p>

  <p><a href="/fiction">Back To Fiction</a></p>
</div>
<br>
{% endblock %}
