{% extends "layout.html" %}
{% block content %}
<div class="container">
  <h1>The Art of Losing</h1>
  <p>by Lizzy Mason</p>
  <p>On one terrible night, 17-year-old Harley Langston’s life changes forever.
    At a party she discovers her younger sister, Audrey, hooking up with her
    boyfriend, Mike—and she abandons them both in a rage. When Mike drunkenly
    attempts to drive Audrey home, he crashes and Audrey ends up in a coma.
    Now Harley is left with guilt, grief, pain and the undeniable truth that her
    ex-boyfriend (who is relatively unscathed) has a drinking problem.</p>

  <p><a href="/fiction">Back To Fiction</a></p>
</div>
<br>
{% endblock %}
