{% extends "layout.html" %}
{% block content %}
<div class="container">
  <h1>Dating Games</h1>
  <p>by T.K. Leigh</p>
  <p>How do you get over your last disaster of a relationship? You agree to be
    a complete stranger's fake girlfriend for the next few months.
    Note to self: When your boyfriend dumps you on your thirtieth birthday,
    it’s probably not the smartest idea to drink so much that you wake up in the
    same bed as the mysterious hottie wearing the gorgeous suit who you
    noticed sitting across the bar.</p>

  <p><a href="/romance">Back To Romance</a></p>
</div>
<br>
{% endblock %}
