{% extends "layout.html" %}
{% block content %}
<div class="container">
  <h1>Finding Dorothy</h1>
  <p>by Elizabeth Letts</p>
  <p>Maud Gage Baum, widow of the author of the book The Wonderful Wizard of Oz,
    met Judy Garland, the young actress playing the role of Dorothy on the set
    of The Wizard of Oz in 1939. At the time, Maud was seventy-eight and Judy
    was sixteen. In spite of their age difference, Maud immediately connected to
    Judy--especially when Maud heard her sing "Over the Rainbow," a song whose
    yearning brought to mind the tough years in South Dakota when Maud and her
    husband struggled to make a living--until Frank Baum's book became a
    national sensation.</p>

  <p><a href="/fiction">Back To Fiction</a></p>
</div>
<br>
{% endblock %}
