{% extends "layout.html" %}
{% block content %}
<div class="container">
  <h1>Fiction Novels</h1>
  <br>
  <div class="row">
    <div class="col-4">
      <div class="card" style="width:14rem;">
        <a href="/book4">
          <img src="/static/fiction1.jpg" class="card-img-top" alt="...">
        </a>
      </div>
    </div>

    <div class="col-4">
      <div class="card" style="width:14rem;">
        <a href="/book5">
          <img src="/static/fiction2.jpg" class="card-img-top" alt="...">
        </a>
      </div>
    </div>

    <div class="col-4">
      <div class="card" style="width:14rem;">
        <a href="/book6">
          <img src="/static/fiction3.jpg" class="card-img-top" alt="...">
        </a>
      </div>
    </div>
  </div>
  <br>
  <p><a href="/index">Back To Home</a></p>
</div>
{% endblock %}
